.logo-container {
    width: 100px;
    height: 150px;
    border-radius: 0px 0px 10px 0px;
    padding: 20px;
    background-color: var(--fontRedColor);
    position: absolute;
    overflow: hidden;
}

.logo {
    width: 200px;
    height: auto;
}

header {
    background: #0000003D;
    position: relative;
    height: 60px;
    z-index: 4;
}

.mainMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}

.mainMenu li a {
    padding: 10px;
}

.menu2 {
    padding: 20px;
}

.master-image {
    width: 100%;
    max-width: 65%;
    position: absolute;
    right: 0px;
    top: -10%;
    z-index: -1;
}

.content2 {
    padding: 10px;
}

.content2 h2>span {
    color: var(--redBoldColor);
    font-size: 18px;
}

.master-image2 {
    width: 100%;
    max-width: 100%;
    /* position: absolute;
   left: 0px; */
    /* top: -10%; */
    z-index: -1;
}

.btn-apple-play {
    background-color: #FFFFFF96;
    color: #000;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    backdrop-filter: blur(5px);
}

.btn-google-play {
    background-color: #FFFFFF96;
    color: #000;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    backdrop-filter: blur(5px);
}

.btn-apple-play img {
    width: 40px;
    padding: 4px;
    margin: 0px 5px;
}

.btn-google-play img {
    width: 40px;
    padding: 4px;
    margin: 0px 5px;
}

.mg-100 {
    margin-left: 100px;
    ;
}

.banner-section {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

header a:hover {
    font-weight: 400;
    text-decoration: underline;
}

.btn-google-play span,
.btn-apple-play span {
    font-size: 10px;
}

.btn-google-play b,
.btn-apple-play b {
    font-size: 20px;
    font-weight: 700;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-section {
    height: 100%;
    position: relative;
}

.swiper-slide img {
    width: 150px !important;
    height: 100px;
    padding: 25px;
    object-fit: cover;
    object-position: center;
    overflow: visible;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    position: absolute;
    top: 15%;
    padding-left: 40px;
}

.social-icons a {
    margin: 5px 0px;
}

.social-icons a:hover i {
    color: var(--fontRedColor);
}

.social-icons a i {
    font-size: 1rem;
}

.line-horizental {
    background-color: #fff;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 150px;
    border-radius: 10px;
    margin-left: 10px;
}

.content {
    padding-left: 100px;
}

.content p {
    font-size: 18px;
    padding: 40px 0px;
}

.logo-slider {
    padding-top: 100px;
    height: 100%;
    padding-bottom: 50px;
}

.bg-banner {
    background-image: url(../image/red-car.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    /* background-attachment: fixed; */
}

.bg-app {
    background-image: url(../image/trans.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 600px;
    position: relative;
    left:0px;
}


.master-image3{
   position: relative;
}

.box-content2{
   z-index:2;
}
.lg-num {
    font-size: 3rem;
    color: var(--greyColor);
}

.content3 h2 {
    font-size: 2.8rem;
    padding: 10px 40px;

}

.content3 p {
    font-size: 18px;
    padding: 10px 40px;
}

.mobile-app-img {
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

.img-barcode {
    width: 180px;
    padding-right: 45px;
}
.download-app,.mobile-app-img{
z-index:2;
}
.download-app h3 span {
    font-size: 2rem;
    padding: 20px 0px;
    color: var(--fontRedColor);
}

.d-flex-centro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.contact-us-mobile{
    display: none;
}

.footer-img {
    width: 150px;
    height: auto;
    padding: 10px 0px;
}

.bg-black {
    background-color: var(--darkBackground);
}

.bg-black span {
    color: #fff;
    font-size: 12px;
}

footer {
    background-color: var(--footerBlack);
}

.grid-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-share {
    padding: 15px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background: var(--fontRedColor);
}

.btn-share:hover {
    background: var(--redBoldColor);
}

.button-group2 {
    margin-top: 30px;
}

.button-group .btn-google-play b,
.button-group .btn-apple-play b {
    font-size: 18px;
}

.button-group .btn-google-play img,
.button-group .btn-apple-play img {
    width: 30px;
    padding: 4px;
    margin: 0px 5px;
}

.button-group .btn-google-play,
.button-group .btn-apple-play {
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    max-width: 180px;
    padding: 10px 10px;
    background-color: #ffffffb5;
}

.button-group2 .btn-google-play b,
.button-group2 .btn-apple-play b {
    font-size: 18px;
}

.button-group2 .btn-google-play img,
.button-group2 .btn-apple-play img {
    width: 30px;
    padding: 4px;
    margin: 0px 5px;
}

.button-group2 .btn-google-play,
.button-group2 .btn-apple-play {
    border-radius: 5px;
    margin-right: 10px;
    width: fit-content;
    padding: 5px 10px;
    background-color: #ffffffb5;
}

.input-subscribe {
    background-color: #525252;
    color: #fff;
    padding: 10px 15px;
    position: relative;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    min-width: 300px;
    margin: 10px 0px;
}

.box-content .lar-num {
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 20px 0px 5px;
    font-weight: 900;
}

.box-content p {
    font-size: 15px;
    padding: 15px 0px;
    letter-spacing: 1.2px;
}

.footer-icon i {
    color: var(--redBoldColor);
    padding-right: 5px;
}

.footer-icon:hover i {
    color: var(--greyColor);
}

.btn {
    /* background-color: transparent; */
    border: none;
    outline: none;

}

.btn-submit {
    background-color: transparent;
    color: var(--fontRedColor);
    font-size: 20px;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 7.5px;
}

.icon {
    width: 40px;
}

.line-vertical {
    width: 100%;
    background: var(--whiteBackground);
    height: 1px;
    margin: 15px 0px;
}

.logo-footer p {
    width: 75%;
    font-size: 14px;
}

footer a:hover {
    color: var(--fontRedColor);
}

.banner-section2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.menu-container {
    position: relative;
}

.menu-toggle {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    z-index: 99;

}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--fontRedColor);
    z-index: 99;
}

.menu-toggle span:nth-child(1) {
    width: 25px;
    height: 3px;
}

.menu-toggle span:nth-child(2) {
    width: 15px;
    height: 3px;
}

.menu-toggle span:nth-child(3) {
    width: 20px;
    height: 3px;
}

.menu {
    position: absolute;
    top: 50px;
    left: -250px;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.menu li {
    padding: 10px 0px;
    font-size: 16px;

}

.menu.active {
    left: 0;
    right: 0px;
    text-align: center;
    z-index: 9;
    padding: 66px;
    top: 0px;
    height: 300px;
    background-color: #000000a1;
}

.menu li a {
    display: block;
}

.exit span {
    transition: all 0.2s ease-in-out;
    z-index: 99;

}

.exit span:nth-child(1) {
    transform: rotate(45deg);
    width: 15px
}

.exit span:nth-child(2) {

    transform: rotate(315deg);
    width: 30px;
}

.exit span:nth-child(3) {
    transform: rotate(45deg);
    width: 15px;
    position: absolute;
    top: 15px;
    right: 0px;
}

.menu-container {
    display: none;
}

.d-flex-stretch {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.transition,
ul li i:before,
ul li i:after,
.accordion-content,
i:before,
i:after {
    transition: all 0.25s ease-in-out;
}

.flipIn,
ul li,
a>i,
h1,
p {
    animation: flipdown 0.5s ease both;
}

h1:nth-of-type(1) {
    animation-delay: 0.5s;
}

a i:nth-of-type(1) {
    animation-delay: 0.5s;
}

a i:nth-of-type(2) {
    animation-delay: 0.75s;
}

a i:nth-of-type(3) {
    animation-delay: 1s;
}

a i:nth-of-type(4) {
    animation-delay: 1.2s;
}

a i:nth-of-type(5) {
    animation-delay: 1.3s;
}

a i:nth-of-type(6) {
    animation-delay: 1.4s;
}

a i:nth-of-type(7) {
    animation-delay: 1.5s;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
   display: none;
}
.position-relative {
    position: relative;
    width: fit-content;
}
@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }

    92% {
        transform: rotateX(-3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}
.d-flex-order{
   display: flex;
   flex-direction: column;
}
.d-desktop-none{
    display: none;
}